@import "@getable/variables";

:root {
  --rentableHeader-orange: #F87D1C;
  --rentableHeader-grey: #636E74;
}

.rentableHeader {
  border-bottom: 1px solid var(--color-grey10);
  padding-left: var(--padding-normal);
}

.rentableHeader h1 {
  color: var(--rentableHeader-grey);
  font-weight: var(--fontWeight-lato-normal);
  margin-top: var(--padding-normal);
}

.rentableHeader-titleAccent {
  color: var(--rentableHeader-orange);
  font-weight: var(--fontWeight-lato-bold);
}
