@import "@getable/lato";
@import "@getable/variables";

:root {
  --rentableHeader-orange: #F87D1C;
  --rentableHeader-grey: #636E74;
}

.rentableHeader {
  border-bottom: 1px solid var(--color-grey10);
}

.rentableHeader h1 {
  font-family: var(--fontFamily-default);
  color: var(--rentableHeader-grey);
  font-weight: 100;
}

.rentableHeader-titleAccent {
  color: var(--rentableHeader-orange);
  font-weight: var(--fontWeight-lato-bold);
}
