@import "@getable/variables";

:root {
  --rentableHeader-orange: #F87D1C;
  --rentableHeader-grey: #636E74;
}

.rentableHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey10);
  padding: 0 var(--padding-normal);
}

.rentableHeader a {
  color: var(--rentableHeader-grey);
  font-weight: var(--fontWeight-lato-normal);
  margin-top: var(--padding-normal);
}

.rentableHeader-phoneNumber {
  /* block so that the <a> can be affected by flexbox */
  display: block;
  color: var(--color-grey50);
  text-decoration: none;
}

.rentableHeader-phoneNumber:before {
  content: "\00A0\260E";
  margin-right: var(--padding-small);
}

.rentableHeader-titleAccent {
  color: var(--rentableHeader-orange);
  font-weight: var(--fontWeight-lato-bold);
}
